SERVER_AUTH_SECRET=please_change_this_in_production
SERVER_POSTGRES_URL=postgres://postgres:postgres@localhost:5432/postgres
SERVER_HOST=localhost 
SERVER_PORT=3035

# Frontend URL, used to configure trusted origin (cors)
PUBLIC_WEB_URL=http://localhost:8085

INTERNAL_API_KEY=helloworld
