@import 'tailwindcss';

* {
  font-family: 'Public Sans', 'sans-serif';
}

@theme {
  /* Colors */

  /* Beige */
  --color-beige-100: hsl(30, 36%, 96%);
  --color-beige-500: hsl(23, 6%, 57%);

  /* Grey */
  --color-grey-100: hsl(0, 0%, 95%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-900: hsl(252, 7%, 13%);

  /* Secondary colors */
  --color-green: hsl(177, 52%, 32%);
  --color-yellow: hsl(28, 73%, 81%);
  --color-cyan: hsl(190, 52%, 68%);
  --color-navy: hsl(248, 8%, 41%);
  --color-red: hsl(7, 58%, 50%);
  --color-purple: hsl(259, 30%, 56%);

  /* Other colors */
  --color-other-purple: hsl(288, 29%, 62%);
  --color-turquoise: hsl(180, 16%, 42%);
  --color-brown: hsl(21, 30%, 44%);
  --color-magenta: hsl(332, 30%, 44%);
  --color-blue: hsl(205, 48%, 47%);
  --color-navy-grey: hsl(214, 11%, 63%);
  --color-army-green: hsl(83, 20%, 47%);
  --color-gold: hsl(47, 50%, 59%);
  --color-orange: hsl(18, 47%, 52%);
  --color-pink: hsl(290, 29%, 80%);

  /* White */
  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --text-preset-1: 2rem;
  --text-preset-1--line-height: 120%;
  --text-preset-1--letter-spacing: 0em;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 1.25rem;
  --text-preset-2--line-height: 120%;
  --text-preset-2--letter-spacing: 0em;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1rem;
  --text-preset-3--line-height: 150%;
  --text-preset-3--letter-spacing: 0em;
  --text-preset-3--font-weight: 700;

  --text-preset-4: 0.875rem;
  --text-preset-4--line-height: 150%;
  --text-preset-4--letter-spacing: 0em;

  --text-preset-5: 0.75rem;
  --text-preset-5--line-height: 150%;
  --text-preset-5--letter-spacing: 0em;
}

.drop-shadow {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
